{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Doctor Groups</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link href="{% static 'dashboard/style.css' %}" rel="stylesheet">
</head>
<body>
    <div class="header">
        <a href="{% url 'logout' %}" class="logout-button">Logout</a>
    </div>
    <div class="container">
        <h2>Doctor Groups</h2>
        <div class="group-list">
            {% for group in groups %}
                <div class="group-item">
                    <span>{{ group.name }}</span>
                    <a class="edit-link" href="{% url 'edit_doctor_group' group.pk %}">Edit</a>
                </div>
            {% endfor %}
        </div>
        <div class="actions">
            <a class="button" href="{% url 'add_doctor_group' %}">Add New Group</a>
            <a class="button" href="{% url 'add_user' %}">Add New User</a>
        </div>
    </div>
</body>
</html>
